extends layout

block content
  h1= title
  h3 by #{author}
  h5 Welcome to #{title}
  p This is a request header parser microservice.  Click on the button below, and a JSON of your browser IP address, language and operating system will be returned.  
  button(onclick="clickIt()") Click here

  h3 Example Output:
  code(id="example-output" class="example") { "ipaddress" : "64.131.162.208", "language":"en-US", "software":"X11; Linux x86_64" }
  
